$container-width: 1180px

:root
  --color-accent-light: hsl(142, 100%, 30%)
  --color-background: #F9F9F9
  --color-background-dark: #202020
  --color-text: #202020
  --color-text-light: #c6c6c6
  --color-text-on-dark: #FFF
  --font-size-medium: 1.8rem
  --font-family-main: "Fustat", system-ui, "Sukhumvit Set", "Leelawadee UI", sans-serif
  --font-family-text: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

  @media screen and (prefers-color-scheme: dark)
    --color-accent-light: hsl(142, 100%, 30%)
    --color-background: #171717
    --color-background-dark: #000000
    --color-text: #fefefe
    --color-text-light: #555

*
  box-sizing: border-box

html
  font-family: var(--font-family-text)
  font-size: 18px
  color: var(--color-text)
  @media screen and (max-width: 600px)
    font-size: 16px

a
  color: var(--color-text)
  text-decoration-style: dotted
  &:hover
    color: var(--color-accent-light)
  &:visited
    text-decoration: none

.container
  max-width: $container-width
  margin: 0 auto

.container-padded
  max-width: $container-width
  margin: 0 auto
  @media screen and (max-width: $container-width + 48)
    padding: 0 24px
