article
  font-family: var(--font-family-main)
  font-size: 0.9rem
  font-variation-settings: "wdth" 100
  font-weight: 430
  h1, h2, h3, h4, h5, h6
    font-family: var(--font-family-accent)
    font-weight: 400
    font-variation-settings: "wdth" 30, "GRAD" 20
  h1
    font-size: 2.1rem
  h2
    font-size: 1.8rem
  p, ol, ul
    line-height: 1.4em
    text-align: justify
  a
    text-decoration: underline var(--color-text) dotted
  strong
    font-weight: 700
  ol, ul
    li, li > p
      margin: 0.6em 0
      text-align: left
  blockquote
    border-left: 2px solid var(--color-text)
    font-size: 1.2em
    margin: 1.2em 0
    padding: 0.2em 0 0.2em 1.6em
    p
      font-size: 1em
      text-align: left
  hr
    margin: 2em
