---
import TopNav from "../components/TopNav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="404 - Page Not Found"
  description="The page you are looking for does not exist."
>
  <TopNav />
  <main>
    <div class="container">
      <h1>Not Found</h1>
      <p>There is nothing at this URL.</p>
      <p>Perhaps you're looking for something in the blog?</p>
    </div>
  </main>
  <footer></footer>
</Layout>

<style lang="sass">
  body
    background-color: var(--color-background)

  main
    text-align: center
    padding: 2rem 0
    h1
      font-size: 3em
      font-family: var(--font-family-main)
      font-weight: 300

  footer
    height: 100px
</style>
