---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import TopNav from "../components/TopNav.astro";
import Layout from "../layouts/Layout.astro";
import { formatDate } from "../utils/date";

const posts = await getCollection("blog", ({ data }) => data.public);

const sortByDate = (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => {
  return b.data.date.getTime() - a.data.date.getTime();
};
---

<Layout
  title="Nathan's Blog"
  description="A collection of blog posts by Nathan"
>
  <TopNav />
  <main class="container">
    <h1>Blog posts</h1>
    <ul>
      {
        posts.sort(sortByDate).map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>
              <h2>{post.data.title}</h2>
            </a>
            <time datetime={post.data.date.toISOString()}>
              {formatDate(post.data.date)}
            </time>
          </li>
        ))
      }
    </ul>
  </main>
  <footer></footer>
</Layout>

<style lang="sass">
  body
    background-color: var(--color-background)

  .container
    max-width: 800px

  main
    padding: 0 1rem
    ul
      list-style: none
      padding: 0
    li
      margin: 0 0 1.2em
    h1
      margin: 3rem 0
      font-family: var(--font-family-main)
      font-size: 2.7rem
      font-weight: 300
    h2
      font-size: 1.15em
      font-weight: 400
      margin-bottom: 0.28em
    time
      font-size: 0.9em

  footer
    height: 100px
</style>
