---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const mainLinks = [
  { name: "Blog", url: "/blog" },
  { name: "Work", url: "/work" },
  { name: "Github", url: "https://github.com/DobaKung" },
  { name: "LinkedIn", url: "https://linkedin.com/in/zartre" },
];
const socialLinks = [
  { name: "500px", url: "https://500px.com/zartre" },
  { name: "Instagram", url: "https://instagram.com/zartre" },
  { name: "YouTube", url: "https://youtube.com/user/zartrey" },
  {
    name: "Stack Overflow",
    url: "https://stackoverflow.com/users/2147513/nathan",
  },
  { name: "Mastodon", url: "https://mastodon.social/@zartre" },
];
---

<Layout title="Nathan Zartre">
  <main>
    <h1 id="hi">Hi</h1>
    <h1 id="full-name">I'm Nathan<span>Zartre</span></h1>
    <p id="intro">
      A software engineer with 4 years of experience in <strong>fintech</strong
      >. Now working on <strong>credit card processing</strong>.
    </p>
    <svg
      id="separater"
      width="1"
      height="140"
      viewBox="0 0 1 140"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line x1="0.5" y1="0" x2="0.5" y2="140"></line>
    </svg>
    <ul id="main-links">
      {
        mainLinks.map((link) => (
          <li>
            <a href={link.url}>{link.name}</a>
          </li>
        ))
      }
    </ul>
    <ul id="social-links">
      {
        socialLinks.map((link) => (
          <li>
            <a href={link.url}>{link.name}</a>
          </li>
        ))
      }
    </ul>
    <div id="webring">
      Part of
      <a
        href="https://webring.wonderful.software#zartre.com"
        title="วงแหวนเว็บ"
      >
        <img
          alt="วงแหวนเว็บ"
          width="32"
          height="32"
          src="https://webring.wonderful.software/webring.black.svg"
        />
      </a>
    </div>
  </main>
</Layout>

<style lang="sass">
  body
    background-color: var(--color-background)
  main
    margin: auto
    max-width: 1024px
    padding: 2.2rem 0.5rem 5rem
  h1
    font-size: 6.4rem
    font-weight: 700
    line-height: 1em
    margin: 0
    @media screen and (max-width: 870px)
      font-size: 5rem
    @media screen and (max-width: 670px)
      margin-top: 1rem
      font-size: 3.5rem
    &#hi
      @media screen and (min-width: 370px) and (max-width: 409px)
        text-align: right
      @media screen and (min-width: 410px)
        text-align: left
    &#full-name
      text-align: right
      margin-bottom: 2.4rem
      span
        display: block
        font-weight: 300
  #intro
    font-family: var(--font-family-main)
    font-size: var(--font-size-medium)
    line-height: 1.3em
    margin: 0
    max-width: 644px
    @media screen and (max-width: 670px)
      font-size: 1.5rem
    strong
      color: var(--color-accent-light)
      font-weight: 600
  #separater
    display: block
    margin: 2em auto
    line
      stroke: var(--color-text)
  #main-links
    font-size: var(--font-size-medium)
    text-align: center
    list-style-type: none
    padding: 0
    li
      line-height: 1.5em
    @media screen and (max-width: 670px)
      font-size: 1.5rem
  #social-links
    font-size: 1.5rem
    text-align: center
    white-space: wrap
    list-style-type: none
    padding: 0
    margin: 0 0 2rem
    li
      display: inline-block
      margin: 0 0.8em
      line-height: 1.5em
  #webring
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    column-gap: 0.5em
    a, img
      display: block
    @media screen and (prefers-color-scheme: dark)
      img
        filter: invert(1)
</style>
