---
const navItems = [
  { text: "home", link: "/" },
  { text: "work", link: "/work" },
  { text: "blog", link: "https://blog.zartre.com" },
];
---

<nav class="container">
  <ul>
    {
      navItems.map((i) => (
        <li>
          <a href={i.link}>{i.text}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="sass">
  nav
    font-family: var(--font-family-accent)
    text-align: center
    margin: 2rem auto
    ul
      list-style: none
      padding: 0
      li
        display: inline-block
        margin: 0 0.5rem
</style>
