---
import { getCollection } from "astro:content";
import WorkLayout from "../../layouts/WorkLayout.astro";
import TopNav from "../../components/TopNav.astro";

export async function getStaticPaths() {
  const workEntries = await getCollection("work");
  return workEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<WorkLayout title={entry.data.title}>
  <TopNav />
  <article>
    <div class="meta">
      <h1>{entry.data.title}</h1>
      <p>{entry.data.period} | {entry.data.tags.join(", ")}</p>
    </div>
    <div class="content">
      <Content />
    </div>
  </article>
  <footer></footer>
</WorkLayout>

<style lang="sass">
  body
    background-color: var(--color-background)
  footer
    height: 100px
</style>
